[Unit]
Description=DomU VM unpause service

Requires=backend-ready@domd-qemu-monitor.service
After=backend-ready@domd-qemu-monitor.service

[Service]
Type=simple

ExecStart=/bin/bash -c 'echo "[domu-unpause]: Unpausing DomU" && /usr/sbin/xl -v unpause DomU && echo "[domu-unpause]: Unpaused DomU"'

Restart=always
RemainAfterExit=true
RestartSec=10

[Install]
WantedBy=multi-user.target
