[Unit]
Description=DomU VM restart service

[Service]
Type=simple

ExecStart=/usr/lib/xen/bin/domu-restart-monitor-ExecStart.sh

ExecStopPost=echo "DomU restart monitor stopped!"

Restart=on-failure
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
