[Unit]
Description=Wait for backend %i activation

[Service]
Type=notify
ExecStart=/usr/lib/xen/bin/wait-for-backend %i
RemainAfterExit=true
Restart=on-failure
TimeoutStartSec=infinity
