[Unit]
Description=QEMU command handler
Requires=backend-ready@dom0-qemu-command-monitor.service weston.service
After=backend-ready@dom0-qemu-command-monitor.service weston.service

[Service]
Type=simple
Environment=WAYLAND_DISPLAY=wayland-1
EnvironmentFile=/etc/default/weston

ExecStart=/usr/lib/xen/bin/qemu-command-handler-ExecStart.sh

ExecStopPost=/bin/bash -c '/usr/bin/xenstore-write drivers/domd-qemu-monitor/status dead && echo "[qemu-command-handler]: QEMU stopped";'

Restart=on-failure
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
