[Unit]
Description=Android VM unpause service

Requires=backend-ready@domd-qemu-monitor.service doma-restart-monitor.service
After=backend-ready@domd-qemu-monitor.service

[Service]
Type=simple

ExecStart=/bin/bash -c 'echo "[doma-unpause]: Unpausing DomA" && /usr/sbin/xl -v unpause DomA && echo "[doma-unpause]: Unpaused DomA"'

Restart=always
RemainAfterExit=true
RestartSec=10

[Install]
WantedBy=multi-user.target
