# NOTE 1
# Pay attention that corresponding part for
# Dom0's backend-ready@block.service is
# DomD's block-up-notification.service.
# NOTE 2
# If your product needs additional dependency, consider to use
# systemd drop-in units instead of modifications in this file.
# NOTE 3
# Dependencies (After=, Requires=) cannot be reset to an empty list,
# so dependencies can only be added in drop-ins. If you want to
# remove dependencies, you have to override the entire unit.
# NOTE 4
# Pay attention, that this file starts and pauses the DomA right away.
# This is done by intention, as we need to start QEMU in DomD before
# unpausing the guest domain.
# NOTE 5
# This service depends on 'doma-restart-monitor.service', as when that
# service fails, it is intended to restart DomA.

[Unit]
Description=Android VM creator service

Requires=backend-ready@block.service doma-restart-monitor.service qemu-restart-monitor.service
After=backend-ready@block.service doma-restart-monitor.service qemu-restart-monitor.service

[Service]
Type=simple

ExecStart=/usr/lib/xen/bin/doma-create-ExecStart.sh

ExecStopPost=/usr/lib/xen/bin/doma-create-ExecStopPost.sh

Restart=always
RemainAfterExit=true
TimeoutStopSec=infinity
RestartSec=10

[Install]
WantedBy=multi-user.target
