[Unit]
Description=Android VM restart service

[Service]
Type=simple

ExecStart=/usr/lib/xen/bin/doma-restart-monitor-ExecStart.sh

ExecStopPost=echo "DomA restart monitor stopped!"

Restart=on-failure
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
