[Unit]
Description=Android VM creator service
# NOTE 1
# Pay attention that corresponding part for
# Dom0's backend-ready@block.service is
# DomD's block-up-notification.service.
# NOTE 2
# If your product needs additional dependency, consider to use
# systemd drop-in units instead of modifications in this file.
# NOTE 3
# Dependencies (After=, Requires=) cannot be reset to an empty list,
# so dependencies can only be added in drop-ins. If you want to
# remove dependencies, you have to override the entire unit.
# NOTE 4
# Pay attention, that this file starts and pauses the DomA right away.
# This is done by intention, as we need to start QEMU in DomD before
# unpausing the guest domain.

Requires=backend-ready@block.service
After=backend-ready@block.service

[Service]
Type=oneshot

ExecStart=/bin/bash -c '/usr/sbin/xl create /etc/xen/doma.cfg && /usr/sbin/xl pause DomA'

ExecStartPost=/usr/lib/xen/bin/doma-create-ExecStartPost.sh

ExecStop=/usr/lib/xen/bin/doma-create-ExecStop.sh

Restart=on-failure
RestartSec=5
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
